.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.App {
  position: relative;
  font-size: 62.5%;
  color: black;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: black;
}

.App-link {
  color: #09d3ac;
}
.selected-view {
  font-weight: bold;
}

nav {
  font-size: 1.6rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

.deactivated {
  color: gray;
}

.container {
  display: flex;
  position: relative;
  padding-left: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: stretch;
}

.background {
  position: absolute;
  background-color: rgba(41, 43, 45, 0.75);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.back-button {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 10px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
