.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.App {
  font-size: 62.5%;
  color: black;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: black;
}

.App-link {
  color: #09d3ac;
}
.selected-view {
  font-weight: bold;
}

nav {
  font-size: 1.6rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

.ul-list {
  text-align: left;
}

.deactivated {
  color: gray;
}

.checkbox {
  margin: 10px;
}
