.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.App {
  position: relative;
  font-size: 62.5%;
  color: black;
  text-align: center;
  height: 100vh;
}

.App-container {
  background: #fff;
  padding: 40px;
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  display: flex;
  position: relative;
  padding-left: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: stretch;
}
