.list-container {
  height: 50vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list-results-container {
  height: 66%;
  width: 100%;
  overflow-y: scroll;
}

.ul-list {
  text-align: left;
  margin-top: 0;
}

.soon {
  background-color: yellow;
}

.kind-of-soon {
  background-color: red;
}

.not-soon {
  background-color: blue;
}

.inactive {
  background-color: orange;
}
